.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 950px;
  height: 570px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
}

.main-form-container {
  padding: 3rem 7rem 2rem 7rem;
  width: 100%;
  position: relative;
}

.main-form-container p {
  color: hsl(231, 11%, 63%);
}

@media (max-width: 500px) {
  .App {
    align-items: flex-start;
  }
  .form-container {
    flex-direction: column;
    width: 100%;
    background-color: transparent;
    height: 100%;
    padding: 0;
    align-items: center;
  }
  .main-form-container {
    position: initial;
    padding: 2rem;
    background-color: #fff;
    width: 90%;
    margin-top: -9.5rem;
    z-index: 9999;
    border-radius: 0.8rem;
  }
}
